.small-icon {
  font-size: 85% !important;
  margin-left: 8px;
}

.tb-fill-remaining-space {
  flex: 1 1 auto;
}

footer {
  color: #808080;
  padding: 4px;
  text-align: center;
}

footer a {
  color: #d7984b;
  text-decoration: none;
}

footer a:hover {
  color: #b36b1e;
  text-decoration: underline;
}

#logo {
  flex: 0 0 60px;
}

mat-toolbar {
  background-color: #d8c9aa;
}
mat-toolbar mat-icon {
  color: white;
}
