<div id="container">
  <div id="banner">
    <img src="./img/tes-color.webp" alt="Cadmus" />
  </div>
  <div id="intro">
    <p>Welcome to the Cadmus TES Project editor.</p>
    @if (!logged()) {
      <p>Please <a routerLink="/login">login</a> to start.</p>
    }
  </div>

  <div id="content">
    <article>
      The project aims to explore the political and social dynamics that shaped the territory of
      south-eastern Sicily between the 9th and 6th centuries BCE, a period that remains poorly
      understood yet is crucial for the island’s history. During these centuries, this area was
      inhabited by communities of diverse origins and represented a key node within the island’s and
      the wider ancient Mediterranean networks of mobility and exchange. The research seeks to move
      beyond the traditional narrative of relations between local and Greek populations by
      emphasizing the complex social, cultural, and economic networks and the significant processes
      of transformation affecting the territory within the selected chronological span. One of the
      project’s central aspects is the analysis of relational networks among settlements and
      populations, with particular attention to the circulation of natural resources (raw materials
      such as timber, metals, and stone) as well as technologies and knowledge. Tracing and
      visualizing these connections will help reconstruct the complexity of interactions and
      cultural transformations that took place in the region. Building on the rich body of
      archaeological research conducted over recent decades and on the availability of modern
      digital collections, the project aims to offer a new perspective on the past of south-eastern
      Sicily through an integrated methodology and a detailed digital mapping of the territory. The
      expertise developed in the study of the area, combined with the application of advanced
      digital humanities tools, will enable the collection and analysis of archaeological,
      epigraphic, historical, and environmental data, making them available through a dynamic and
      queryable digital map. This approach will allow for a better understanding of the political
      and social organization of local communities and of the transformations triggered by
      interaction with the earliest Greek poleis.
    </article>
  </div>
</div>
